@import url('../../styles//global.css');

.menu-lateral-container {
    width: 30vw;
    height: 100vh;
    background-color: blueviolet;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    left: 0;
    top: 0;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.link:hover {
    background-color: white;
    color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout img {
    cursor: pointer;
}