.Main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #EFEFEF;
}

.main-content {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    margin-left: 30vw;
    position: absolute;
    top: 91px;
    left: 94px;
}